@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4800 Calhoun Rd,<br />
    Houston, TX 77045<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Admin Support:</strong>   <a href="mailto:azalejandro@yahoo.com">azalejandro1@Yhaoo.com</a><br />
</address>